#posts {
    padding: 10% 3% 0%;
    background-color: #FDF0E0;
}

#posts h2 {
    color: rgb(0, 0, 64);
    text-transform: uppercase;
}

@media only screen and (min-width: 320px) {
    #posts {
        padding: 10% 5% 0%;
    }

    #posts h2 {
        letter-spacing: 30px;
        text-indent: 30px;
    }
}

@media only screen and (min-width: 900px) {
    .posts-container {
        display: flex;
        flex-flow: row wrap;
    }

    #posts h2 {
        letter-spacing: 40px;
        text-indent: 40px;
    }
}