nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    animation: fadeIn 0.75s ease-in;
    animation-fill-mode: backwards;
    animation-delay: 3.25s;
}

.nav-title {
    font-size: 2rem;
    letter-spacing: 1px;
    text-indent: 1px;
    transition: color 0.15s ease-out;
}

.nav-bars {
    font-size: 2.5rem;
}

.nav-item {
    transition: color 0.25s ease-out;
}

.nav-item:hover, .nav-title:hover {
    color: rgb(64, 64, 128);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    .nav-title {
        font-size: 2.8rem;
    }

    .nav-bars {
        font-size: 3.2rem;
    }

    .nav-items {
        flex-basis: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 900px) {
    .nav-title {
        letter-spacing: 2px;
        text-indent: 2px;
    }
    .nav-items {
        flex-basis: 50%;
        display: flex;
        letter-spacing: 3px;
        text-indent: 3px;
    }

}
