#home {
    height: 100vh;
    border: 1px solid #000;
    background-image: linear-gradient(to right bottom,rgba(0, 0, 32, 0.9) 40%, rgba(0, 0, 16, 0.9) 60%, rgba(0, 0, 0, 0.9)),  url("../../public/main-bg.png");
    background-size: cover;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

header {
    height: 30vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
}

.header-title {
    flex-basis: 100%;
    animation: slide-right 0.75s ease-in;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
}

.header-slogan {
    line-height: 2;
    animation: slide-left 0.75s ease-in;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

.lets-talk-text {
    font-size: 2rem;
    line-height: 2;
    animation: slide-up 0.75s ease-in;
    animation-delay: 3.25s;
    animation-fill-mode: backwards;
}



@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-2.5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(2.5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(2.5rem);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (min-width: 768px) {
    .lets-talk-text {
        font-size: 3.2rem;
        line-height: 2.5;
        letter-spacing: 5px;
        text-indent: 5px;
    }

    .header-slogan {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 768px) {

    .header-slogan {
        letter-spacing: 10px;
        text-indent: 10px;
    }
}