#intro {
    height: 100vh;
    border: 1px solid #000;
    background-image: linear-gradient(to right bottom,rgba(0, 0, 32, 0.8) 40%, rgba(0, 0, 16, 0.8) 60%, rgba(0, 0, 0, 0.8)),  url("../../public/main-bg.png");
    background-size: cover;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

header {
    height: 30vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}