#intro {
    height: 100vh;
    border: 1px solid #000;
    background-image: linear-gradient(to right bottom,rgba(0, 0, 32, 0.9) 40%, rgba(0, 0, 16, 0.9) 60%, rgba(0, 0, 0, 0.9)),  url("../../public/main-bg.png");
    background-size: cover;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

header {
    height: 30vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
}

.header-title {
    flex-basis: 100%;
}